@font-face {
    font-family: pacho;
    src: url('../fonts/pacho_demo-webfont.woff2') format('woff2'),
         url('../fonts/pacho_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    font-family: pacho, serif;
    text-transform: uppercase;

    background: rgb(6, 7, 11);
    background: linear-gradient(45deg, rgba(6, 7, 11, 1) 0%, rgba(33, 33, 92, 1) 100%);
    background-repeat: no-repeat;
}

#header {
    position: relative;
    padding: 0 20px;

    width: 100%;
    height: 82px;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

    color: #fff;
    line-height: 82px;

    border-bottom: 1px solid #5C6D7D;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.menu-box {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    justify-content: space-around;

    width: 500px;
    /* background: rgba(255,255,255,0.5); */
}

main {
    font-size: 200px;
    color: #fff;
    pointer-events: none;
    user-select: none;
}

.container {width: 1746px; margin: 0 auto;}
.container > div > div {display: inline-block;}
.creative-img {width: 756; height: 210px;}
.subinkim-img {width: 562;}
.line-img {
    height: 160px;
    background: #333;
    overflow: hidden;
}