@font-face {
    font-family: pacho;
    src: url('../fonts/pacho_demo-webfont.woff2') format('woff2'),
         url('../fonts/pacho_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    font-family: pacho, serif;
    text-transform: uppercase;

    background: rgb(6, 7, 11);
    background: linear-gradient(45deg, rgba(6, 7, 11, 1) 0%, rgba(33, 33, 92, 1) 100%);
    background-repeat: no-repeat;
}

#header {
    position: relative;
    padding: 0 100px;

    width: 100%;
    height: 82px;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

    color: #fff;
    line-height: 82px;

    border-bottom: 1px solid #5C6D7D;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.menu-box {
    display: flex;
    justify-content: space-between;
}

.list-box {
    width: 24%;
}

.about {
    cursor: pointer;
}

.menu-list {
    display: flex;
    justify-content: space-around;

    width: 100%;
    /* background: rgba(255,255,255,0.5); */

    cursor: pointer;
}

main {
    font-size: 240px;
    color: #fff;
    pointer-events: none;
    user-select: none;
}

.container {
    width: 1446px;
    margin: 80px auto 0;
    /* background: #333; */
}
.container > div > div {display: inline-block;}
.line1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creative, .developer, .subinkim, .web {
    height: 214px;
}

.line-img {
    height: 172px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.creative-img {
    width: 44%;
    background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/72df2527db59ed1efb4392dd75e83dfd94fcfbf3-1608x2412.jpg?w=960');
    /* background: #fff; */
}
.subinkim-img {
    width: 38%;
    background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/efc493a43ba95476a3030c1759dd33b80fc50974-1620x2430.jpg?w=960');
}