:root {
  --get-in-touch__contact--width: 480px;
}

#get-in-touch {
  position: relative;
  z-index: 20;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100vh;
  padding: 142px;
  box-sizing: border-box;

  text-align: center;

  color: #fff;
  background-color: #000;
}

.get-in-touch__desc {
  width: 1446px;

  font-family: roboto, sans-serif;

  text-transform: capitalize;
  line-height: 1.5rem;
}

.get-in-touch__title {
  width: 680px;

  font-size: 154px;

  text-transform: capitalize;
  line-height: .9em;
}

.get-in-touch__contact {
  width: var(--get-in-touch__contact--width);
  height: calc(var(var(--get-in-touch__contact--width) / 1.618));

  border: 1px solid #fff;
  border-radius: 50%;

  font-size: 4rem;
  text-align: center;
  line-height: 172px;
}