/* COMMON */
a {text-decoration: none;}
.inner {
  height: 300vh;
  position: relative;
}

/* WRAPPER */
#wrapper {}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  height: 40px;
  /* background-color: royalblue; */
}
header .header__gnb {
  display: flex;
  justify-content: flex-end;
}
header .header__gnb li {
  margin: 0 20px;
  line-height: 40px;
  /* background-color: orange; */
}
header .header__gnb li.home {}
header .header__gnb li a {
  color: #fff;
}

/* LOGO */
#logo {
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(190deg, rgb(40, 30, 136), rgba(0,0,0,1) 90%);
  position: relative;
}
#logo .inner {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  width: 180px;
  height: 180px;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: orange; */
  background-color: #000;
}
#logo .inner .logo__text {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2rem;
  color: #fff;
}

/* VISUAL */
#visual {}
#visual .inner {
  /* background-color: salmon; */
  background-color: #000;
}
#visual .inner .visual__text {
  position: absolute;
}
#visual .inner .visual__text.text--creative {
  top: 0;
  left: 0;
}
#visual .inner .visual__text.text--web {
  width: 100px;
  height: 20px;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background-color: thistle;
  z-index: 2;
  text-align: center;
}
#visual .inner .visual__text.text--developer {
  bottom: 0;
  right: 0;
}
#visual .inner .visual__box {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  width: 70vw;
  height: 240vh;
  /* background-color: tan; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#visual .inner .visual__box .box__image {
  width: 70vw;
  height: calc((240vh / 3) - 120px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#visual .inner .visual__box .box__image:nth-child(1) {
  background-image: url('../images/Tumblr.gif');
}
#visual .inner .visual__box .box__image:nth-child(2) {
  background-image: url('../images/Tumblr.gif');
  /* background-color: saddlebrown; */
}
#visual .inner .visual__box .box__image:nth-child(3) {
  background-image: url('../images/Tumblr.gif');
  background-color: seagreen;
}

/* ABOUT */
#about {}
#about .inner {
  overflow: hidden;
  background-color: turquoise;
}
#about .inner .about__image {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  width: 50vw;
  height: 50vw;
  background-color: violet;
}
#about .inner .about__text {}
#about .inner .about__text span {
  display: inline-block;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}