body {
  width: 100%;
  height: 100vh;
  font-family: pacho, serif;
  text-transform: uppercase;

  background: rgb(6, 7, 11);
  background: linear-gradient(90deg, rgba(6, 7, 11, 1) 0%, rgba(33, 33, 92, 1) 100%);
  background-repeat: no-repeat;
}

main {
  font-size: 240px;
  color: #fff;
}

.container {
  width: 1446px;
  margin: 80px auto 0;
}
.container > div > div {display: inline-block;}
.line1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creative, .developer, .subinkim, .web {
  height: 214px;
}

.line-img {
  height: 172px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.web {
  width: 480px;
  height: 172px;

  border: 1px solid #fff;
  border-radius: 50%;

  font-size: 4rem;
  font-style: italic;
  text-align: center;
  line-height: 172px;
}

.creative-img {
  width: 44%;
  background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/72df2527db59ed1efb4392dd75e83dfd94fcfbf3-1608x2412.jpg?w=960');
  /* background: #fff; */
}
.subinkim-img {
  width: 38%;
  background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/efc493a43ba95476a3030c1759dd33b80fc50974-1620x2430.jpg?w=960');
}