body {
  width: 100%;
  font-family: pacho, serif;
  text-transform: uppercase;

  background: rgb(6, 7, 11);
  background: linear-gradient(90deg, #b4b4dc 0%, #dadaed 100%);
  background-repeat: no-repeat;
}

a {color: #00f}

main {
  height: 6000px;
  font-size: 240px;
  color: #00f;
  overflow: hidden;
}

.scroll {
  position: fixed;
}

.container {
  width: 1446px;
}

.page__title {
  position:relative;

  width: 100vw;
  height: 100vh;
  padding-top: 80px;

  background: rgb(6, 7, 11);
  background: linear-gradient(90deg, #b4b4dc 0%, #dadaed 100%);
  background-repeat: no-repeat;
  
  z-index: 10;
}

.page__title--text {
  width: 1446px;
  margin: 0 auto;
}

.page__projects--backspace {
  position: fixed;
  width: 200vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00f;

  color: transparent;
  /* background: #333; */
}

.page__projects--backspace span {
  position: relative;
  z-index: 1;
}

.page__projects--backspace strong {
  color: #00f;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: transparent;
}

.page__projects--contents {
  width: 1446px;
  margin: 0 auto;
  background: #fdf;
}

.contents--mouse-effect {
  width: 300px;
  height: 600px;
  background: #333;
}