:root {
  --page__site--image--width: 560px;
}

body {
  width: 100%;
  font-family: pacho, serif;
  text-transform: uppercase;

  background: rgb(6, 7, 11);
  background: linear-gradient(90deg, rgba(6, 7, 11, 1) 0%, rgba(33, 33, 92, 1) 100%);
  background-repeat: no-repeat;
}

main {
  font-size: 240px;
  color: #fff;
}

.page__title {
  width: 1446px;
  margin: 80px auto 600px;
  /* background: #333; */
}

.container {
  width: 1446px;
  margin: 80px auto 0;
}


#standard {justify-content: flex-start;}
#responsive {
  flex-direction: row-reverse;
  justify-content: space-between;
}
#starbucks {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
#react {
  justify-content: space-between;
}

.page__site {
  display: flex;
  position: relative;
  
  width: 1446px;
  margin-bottom: 120px;
  /* background: #333; */
}

.page__site--title {
  position: absolute;
  top: 108px;

  width: 100%;
  transition: color 1.5s;

  text-align: center;
}

.page__site--title:hover {
  color: #00f
}

.page__site--image {
  width: var(--page__site--image--width);
  height: calc(var(--page__site--image--width) * 1.618);

  /* background: #fdf; */
}

#standard > .page__site--image {background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/b13f74e862a23e235664e3fa22ae0e041d27c38a-1620x2430.jpg?w=960');}
#responsive > .page__site--image {background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/cd811305718f20c136c4e738205c96761139a8f5-1620x2430.jpg?w=960');}
#mobile > .page__site--image {background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/0d6dd6ac194b748f07c78d6dcd7b931577f58ad9-1608x2412.jpg?w=960');}
#starbucks > .page__site--image {background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/2ee866c1e6f9c3103a670ad568a2aa02e78be60a-1088x1440.jpg?w=960');}
#react > .page__site--image {background-image: url('https://cdn.sanity.io/images/sjzl3ddh/production/efc493a43ba95476a3030c1759dd33b80fc50974-1620x2430.jpg?w=960');}

.page__site--paragraph {
  width: 340px;
  margin-top: 460px;

  font-family: roboto, sans-serif;
  font-size: 1rem;
  font-weight: 700;

  text-align: justify;
  line-height: 1.2rem;

}

#standard > .page__site--paragraph {margin-left: 82px;}
#responsive > .page__site--paragraph {margin-left: 220px;}
#mobile > .page__site--paragraph {margin-left: 82px;}
#starbucks > .page__site--paragraph {margin-right: 82px;}
#react > .page__site--paragraph {margin-right: 260px;}
